body {
	background-color: #663;
	color: white;
	margin: 0px;
	padding-bottom: 20px;
	font-family: "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 9pt;
}

a {
	color: #bfb;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #0f0;
	text-decoration: none;
}

a img {
	border: 0;
}

#header {
	background-color: #333;
	background-image: url(images/header_bg.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	width: 800px;
	height: 80px;
	border: 1px solid black;
	color: white;
	font-family: "Arial Black", sans-serif;
	font-size: 36pt;
	text-align: right;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	background-color: #666;
	background-image: url(images/nav_bg.gif);
	width: 800px;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	color: black;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

#navigation a {
	color: white;
	font: 10pt "Arial Black", sans-serif;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

#navigation a:hover {
	color: white;
	text-decoration: underline;
}

#navigation a:active {
	color: black;
	text-decoration: none;
}

#navigation .current {
	/* the currently selected page... */
	text-decoration: underline;
	color: #bfb;
}

#content {
	background-color: #553;
	border: 1px solid black;
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#content p {
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
}

img {
	display: block;
}

#footer {
	background-color: black;
	height: 1em;
	width: 800px;
	border: 1px solid black;
	border-top: none;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	font-size: 9pt;
	font-style: italic;
}

#footer .to_top {
	display: block;
	width: 400px;
	margin: 0px;
	float: left;
}

#footer .to_top a {
	color: white;
	font: 10pt "Arial Black", sans-serif;
	text-decoration: none;
}

#footer .to_top a:hover {
	text-decoration: underline;
}

#footer .to_top a:active {
	color: red;
}

#footer .copyright {
	margin: 0px;
	width: 400px;
	display: block;
	float: left;
	text-align: right;
}

#badges {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	vertical-align: middle;
	width: 800px;
}

#badges a {
	margin: 5px;
	display: inline;
	float: right;
}

#badges img {
	display: inline;
	vertical-align: middle;
}

#badge_container {
	margin-left: auto;
}

/**************** INDEX STUFF ***********************/

.btn_container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn_container img{
	display: inline;
}

.resume_btn {
	margin: 20px;
	margin-left: auto;
}

.portfolio_btn {
	margin: 20px;
	margin-right: auto;
}

/****************** END INDEX STUFF *****************/

/*************** RESUME STUFF ***********************/

#resume p {
	white-space: normal;
	margin: 0px;
	padding: 0px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
}

#resume h2 {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}

#resume .company {
	font-weight: bold;
}

#resume .company_description {
	display: block;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #bbb;
}

#resume .position {
	font-style: italic;
	display: block;
	margin-bottom: 0px;
	margin-top: 0px;
}

#resume .job_description {
	padding: 0px;
	text-align: justify;
	margin-top: -10px;
	margin-bottom: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

#resume .location {
	font-size: 95%;
	color: #bbb;
}

#resume .time_spent {
	font-size: 95%;
	color: #bbb;
	font-style: italic;
}

.info_header {
	display: block;
	clear: left;
}

.download_link {
	float: right;
	margin-right: 20px;
	text-align: center;
}

.download_link img {
	margin-left: auto;
	margin-right: auto;
}

.cert_icons {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.cert_icons img {
	background-color: white;
	padding: 8px;
	display: inline;
	border: 1px solid black;
}

.contact_info {
	font-weight: bold;
	margin-left: 20px;
}

.contact_info table {
	border: 0;
}

ul.indent {
	margin-left: 25px;
	margin-right: 25px;
}

.key {
	font-weight: bold;
	padding-right: 5px;
}

.val {
	font-weight: normal;
}

/*************** END RESUME STUFF ***********************/

/*************** START PORTFOLIO STUFF ******************/

#portfolio .portfolio_object {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;
	border: 1px solid black;
	color: black;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	min-height: 127px;
}

#portfolio .portfolio_object img {
	border: 1px solid black;
	float: left;
	clear: left;
	margin-right: 10px;
}

.portfolio_object a {
	color: #080;
	text-decoration: none;
	font-weight: bold;
}

.portfolio_object a:hover {
	text-decoration: underline;
}

.portfolio_object a:active {
	color: black;
	text-decoration: none;
}

#portfolio_project img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid black;
}

#portfolio_project h1 {
	text-align: center;
	font: 36pt "Arial Black", sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
}

#portfolio_project div {
	margin: 15px;
}

#portfolio_project .intro {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#portfolio_project .intro p {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#portfolio_project .software {
	white-space: pre;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	padding: 10px;
	background-color: #ddd;
	border: 2px solid black;
	color: black;
}

#portfolio_project .comment {
	text-align: center;
	font: 10pt monospace;
	margin-top: 25px;
	margin-bottom: -10px;
}

.picture_group {
	text-align: center;
}

.picture_group img {
	display: inline;
	margin: 10px;
}

h1.listing_heading {
	text-align: center;
	font-size: 14pt;
}

h2.listing_heading {
	font-size: 12pt;
	text-align: center;
	font-style: italic;
}

/*** category stuff ***/

div.category_list {
	color: #442;
	font-size: 75%;
	text-align: center;
	border: 1px solid #442;
	background-color: #664;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	margin-bottom: 2px;
}

div.category_list:hover {
	color: #000;
	border: 1px solid #000;
}

div.category_list a {
	margin-left: 10px;
	font-weight: normal;
	white-space: nowrap;
	color: #442;
}

div.category_list span.category_count {
	font-style: italic;
	color: #442;
}

div.category_list a:hover {
	color: #000;
	text-decoration: underline;
}

/*** end category stuff ***/

/*** start portfolio navigator stuff ***/

div.portfolio_navigator {
	border: 1px solid #442;
	background-color: #664;
	text-align: center;
	padding: 4px;
	font-size: 90%;
	color: #442;
	display: block;
	margin-top: 0;
	margin-bottom: 2px;
/*	float: right;*/
}

div.portfolio_navigator:hover {
	border: 1px solid #000;
	color: #000;
}

div.portfolio_navigator span {
	/*display: block;*/
	/*padding-bottom: 3px;*/
}

div.portfolio_navigator a {
	border: 1px solid #442;
	color: #442;
	padding: 3px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 3px;
	text-decoration: none;
}

div.portfolio_navigator a:hover {
	border: 1px solid #000;
	color: #000;
	background-color: #664;
}

/*** end portfolio navigator stuff ***/

/*************** END PORTFOLIO STUFF ******************/

/****************** START ERROR STUFF *****************/
div.error {
	border: 2px solid #f00;
	background-color: #600;
	color: white;
	padding: 6px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

div.error h1 {
	font-size: 18pt;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 4px;
}

div.error span.error_code {
	font-size: 75%;
	font-style: italic;
	color: #f99;
}

div.error_description {
	font-size: 125%;
}

div.error_description, div.error_subscript {
	margin-left: 20px;
	margin-right: 20px;
}

span.controller_name {
	font-variant: small-caps;
}

div.error_subscript {
	text-align: right;
	margin-top: 30px;
	margin-bottom: 8px;
}

div.error_subscript a {
	padding: 3px;
	color: black;
	font-weight: bold;
	background-color: #ddd;
	border: 2px solid #000;
}

div.error_subscript a:hover {
	background-color: #8d8;
}

div.error_subscript a:active {
	background-color: #fff;
}