<div id="header">
	<div id="header_info">
		<% @header_contact_infos.each do |c| -%>
		<span><%= c %></span>
		<% end -%>
	</div>
	<img src="/images/spikegrobstein_title.gif" alt="spikegrobstein" />
	<div style="clear: both; float: none"><!-- HARK! An scout has reached the gates... --></div>
</div>